<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongpro.poortravel.common.mapper.PostCommentReplyMapper">
  <resultMap id="BaseResultMap" type="com.hongpro.poortravel.common.domain.PostCommentReply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pp_pid" jdbcType="INTEGER" property="ppPid" />
  </resultMap>
</mapper>